html(lang="es")
    head 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/404.css")
    body 
        h1 404
        p.msg PAGE NOT FOUND
        a.btn(href="/") GO HOME

        script(src="/js/404.js")